/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.Copy-of-Pastel-1-hex { -fx-background-color: #F1F7BB; }

.Copy-of-Pastel-2-hex { -fx-background-color: #C0F6E7; }

.Copy-of-Pastel-3-hex { -fx-background-color: #4B8798; }

.Copy-of-Pastel-4-hex { -fx-background-color: #B2DEFF; }

.Copy-of-Pastel-5-hex { -fx-background-color: #D6F6FF; }
.bg{
	
	-fx-background-color: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 50.0% 50.0%, radius 50.0%, #7af2ff 0.0%, #ffffff 100.0%)

}

.color{
	-fx-background-color: radial-gradient(focus-angle 0.0deg, focus-distance 5.0% , center 50.0% 50.0%, radius 100.0%, #C0F6E7 0.0%, #4B8798 100.0%)
}

.buttonColo{
	-fx-background-color: #f8ff6e;
}

.fonte{
	-fx-font-family: 'Noto Serif', serif;
}